.active {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: rgb(18, 99, 206);
  border: 1px rgb(18, 99, 206) transparent;
  border-style: none;
  color: #fff;
  cursor: pointer;
}

.link {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: rgb(102, 104, 107);
  border: 1px rgb(102, 104, 107) transparent;
  border-style: none;
  color: #fff;
  cursor: pointer;
}