.btn-primary {
  background-color: #0080FF;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  border-width: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.btn-lg-blue {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: #007bff;
  border: 1px #007bff transparent;
  border-style: none;
  color: #fff;
}

.link {
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: rgb(102, 104, 107);
  border: 1px rgb(102, 104, 107) transparent;
  border-style: none;
  color: #fff;
}

.btn-disabled {
  opacity: 0.5;
}