.container {
  height: 198px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 750px;
  flex-wrap: wrap;
}

.box {
  width: 198px;
  height: 198px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.box2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 750px;
}

.color1 {
  background-color: #ADD8E6;
}

.color2 {
  background-color: #FFA500;
}

.color3 {
  background-color: #FF69B4;
}

.color4 {
  background-color: #DC143C;
}

.color5 {
  background-color: #90EE90;
}

.box3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  width: 600px;
}

.border {
  border: 1px solid black;

}

.container2 {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  height: 600px;
  justify-content: space-between;
}

.last {
  border: 1px solid black;
}

.cont-last {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 800px;
  justify-content: center;
}

.inner {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}

.inner-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}