body {
  padding: 50px;
}


.container {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "my-fav-a my-fav-a my-fav-a my-fav-a my-fav-a my-fav-b my-fav-b"
    "bruno bruno hans hans hans drucker drucker"
    "bruno bruno hans hans hans drucker drucker"
    "bruno bruno hans hans hans drucker drucker"
    "kanye kanye hans hans hans drucker drucker"
    "kanye kanye cole johnny johnny drucker drucker"
    "kanye kanye cole johnny johnny drucker drucker"
}

.box {
  border: 1px solid black;
  min-height: 100px;
}

img {
  max-width: 280px;
  max-height: 280px;
}


.myFavA {
  grid-area: my-fav-a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myFavB {
  grid-area: my-fav-b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bruno {
  grid-area: bruno;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bruno-img {
  height: 140px;
  width: 160px;
}

.hans {
  grid-area: hans;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hans-boxes {
  display: flex;
  justify-content: space-between;

}

.hans-img {
  width: 130px;
  height: 140px;
}

.kanye {
  grid-area: kanye;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.kan-img {
  max-width: 160px;
  height: 200px;

}

.cole {
  grid-area: cole;
  display: flex;
  justify-content: space-evenly;
}

.cole2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.johnny {
  grid-area: johnny;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.cash-img {
  width: 140px;
  height: 160px;
}


.drucker {
  grid-area: drucker;
  font-weight: 600;
  display: flex;
  justify-content: center;
}