.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.box {
  border: 1px solid black;
}

.container2 {
  display: grid;
  grid-template-columns: 33.34% 16.66% 200px auto;
  grid-gap: 10px 20px;
}

.top-contain {
  display: grid;
  grid-template-columns: 33.34% 16.66% 200px auto;
  grid-gap: 10px 20px;
}

.box-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px red solid;
}

.contain4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box1 {
  border: 1px solid black;
  grid-column-start: 2;
  grid-column-end: span 3;
}

.box-2 {
  border: 1px solid black;
  grid-row-start: 2;
  grid-column-start: span 2;
}

.box-3 {
  border: 1px solid black;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: span 2;
}

.box-4 {
  border: 1px solid black;
  grid-column-start: 5;
}