.section {
  text-align: center;
  padding-top: 100px;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}

.text-underline {
  text-decoration: underline;
}

.text-bold {
  font-weight: bold;
}

.text-arial {
  font-family: Arial, Helvetica, sans-serif;
}