article {
  margin-top: 200px;
  margin-left: 150px;
}

.first {
  border: 3px dotted green;
  width: 50%;
}

.second {
  border: 2px solid coral;
  width: 50%;
}

.text-through {
  text-decoration: line-through;
}

.text-large {
  font-size: 30px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-color {
  color: blue;
}